.header {
  height: 95vh;
  position: relative;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);

  background-size: cover;
  background-position: top;

  /* 斜めに切り取るために4点の座標を指定 */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    /* 画像の大きさを指定 */
    /* 横の長さは指定できるが通常は指定しない（ブラウザが自動的に計算してくれる） */
    height: 3.5rem;
  }

  /* 上下左右の中央に持ってくるためのイディオムのようなもの */
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 子要素の開始位置を指定 */
    /* line-blockのbtn要素も真ん中になる */
    text-align: center;
  }
}
